@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color: blue;">Welcome!</h1>
    <div class="dashboard">
        <header>
            <h1>Dashboard</h1>
        </header>
        <section class="overview">
            <div class="card">
                <h4>Total Income</h4>
                <h5>$740,025 USD</h5>
            </div>
            <div class="card">
                <h4>Sessions</h4>
                <h5>2024</h5>
            </div>
            <div class="card">
                <h4>Orders</h4>
                <h5>+18,025</h5>
            </div>
            <div class="card">
                <h4>Customers</h4>
                <h5>+9645</h5>
            </div>
        </section>
        <section class="portfolio">
            <h2>MY Portfolio</h2>
            <div class="portfolio-item">
                <h2 style="color: blue;">Electronics</h2><br />
                <h4>435 Piece have been sold this year</h4>
                <h5>$112,123 USD</h5>
            </div>
            <div class="portfolio-item">
                <h2 style="color: blue;">Fashion</h2><br />
                <h4>613 Piece have been sold this year</h4>
                <h5>$18,392 USD</h5>
            </div>
            <div class="portfolio-item">
                <h2 style="color: blue;">Appliances</h2><br />
                <h4>189 Piece have been sold this year</h4>
                <h5>$21,362 USD</h5>
            </div>
        </section>
    </div>
</div>
